body {
 	margin: 0 auto;
 	/*background-color: #00BCD4;*/
 	background: linear-gradient(to top, #008799, #00BCD4);
}
.maindiv{
 	font-size: 200px;
 	padding-top: 10px;

}
.phone{
 	height: 550px;
 	width: 400px;
 	display: inline;
}
.download{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8%;
}
.appstore{
	display: inline;
	margin-left: 35%;
}
.playstore{
	display: inline;
}
.logo img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
