<!DOCTYPE html>

<html>
	<head>
        <meta charset="UTF-8">
		<title>ENTalapp ez preparing to UNT</title>

        {% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">

	</head>
	<body>
		<div class="maindiv" style="margin-top:2%">

			<div class="logo">
				<img src="{% static 'img/4.png' %}" height="500" width="450">
			</div>

			<div class="download">
					<div class="appstore">
							<a href="https://play.google.com/store/apps/details?id=com.ent.saken2316.entalapp">
								<img src="{% static 'img/appstore.png' %}" height="50" width="150" border="0">
							</a>
					</div>
					<div class="playstore">
						<a href="https://play.google.com/store/apps/details?id=com.ent.saken2316.entalapp">
							<img src="{% static 'img/playstore.png' %}" heigth="60" width="160">
						</a>
					</div>
				</div>

		</div>
	</body>
</html>