<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

      {% load staticfiles %}

    <title>ENTalapp</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/phone.css' %}">
    <script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/downloadbutton.css' %}">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Full Page -->
    <link rel="stylesheet" type="text/css" href="{% static 'fullpage/jquery.fullPage.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'fullpage/vendors/jquery.easings.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fullpage/jquery.fullPage.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          $('#fullpage').fullpage({
        sectionsColor : ['#fcfcfc', '#fcfcfc', '#fcfcfc'],
            anchors:['firstPage', 'secondPage', 'thirdPage']
          });
      });
      var isPhoneDevice = "ontouchstart" in document.documentElement; 
      $(document).ready(function() {
                if(isPhoneDevice){
                    //mobile
                }
                else{
                    //desktop               
                    $.fn.fullpage();
                }
              });
    </script>

  </head>
  <body>

    <nav class="navbar navbar-default navbar-spclops navbar-fixed-top" role="navigation">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <div class="navbar-brand navbar-brand-centered"><a href="#firstPage"><img src="{% static 'img/logo.png' %}" height="30px"></a></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
          <ul class="nav navbar-nav">
            <li><a href="#firstPage">Главная</a></li>
            <li><a href="#secondPage">Скачать</a></li>
            <li><a href="#thirdPage">Контакты</a></li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Язык</a></li>         
          </ul> -->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->  
    </nav>

    <div id="fullpage">
      <div class="section carousel fade-carousel slide" data-anchor="firstPage" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Overlay -->

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#bs-carousel" data-slide-to="1"></li>
          <li data-target="#bs-carousel" data-slide-to="2"></li>
          <li data-target="#bs-carousel" data-slide-to="3"></li>
        </ol>
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item slides active">
            <div class="slide-1">
                <div class="overlay"></div>
            </div>
            <div class="hero">
              <hgroup>
                  <h1>ENTalapp</h1>        
                  <h3>Подготовка к ЕНТ - теперь увлекательно и просто!</h3>
              </hgroup>
              <a href="#secondPage" class="btn btn-hero btn-lg" role="button">Скачать</a>
            </div>
          </div>
          <div class="item slides">
            <div class="slide-2">
                <div class="overlay"></div>
            </div>
            <div class="hero">        
              <hgroup>
                  <h1>Удобно</h1>        
                  <h3>Готовьтесь к экзаменам в любом месте в любое время</h3>
              </hgroup>       
              <a href="#secondPage" class="btn btn-hero btn-lg" role="button">Скачать</a>
            </div>
          </div>
          <div class="item slides">
            <div class="slide-3">
                <div class="overlay"></div>
            </div>
            <div class="hero">        
              <hgroup>
                  <h1>Весело</h1>        
                  <h3>Соревнуйтесь с друзьями и другими игроками</h3>
              </hgroup>
              <a href="#secondPage" class="btn btn-hero btn-lg" role="button">Скачать</a>
            </div>
          </div>
          <div class="item slides">
            <div class="slide-4">
                <div class="overlay"></div>
            </div>
            <div class="hero">        
              <hgroup>
                  <h1>Эффективно</h1>        
                  <h3>Оцените свои знания с высокой точностью, благодаря системе умного рейтинга</h3>
              </hgroup>
              <a href="#secondPage" class="btn btn-hero btn-lg" role="button">Скачать</a>
            </div>
          </div>
        </div> 
      </div>
          
      <div class="section container" data-anchor="secondPage">
        <div class="row">
          <div class="col-md-2 col-lg-2 col-sm-2"></div>
          <div class="col-md-8 col-lg-8 col-sm-8">
              <div class="col-sm-4 col-xs-12">
                
                  <div class="phone">
                      <img alt="" src="http://handsontek.net/demoimages/mobileapp/iphone5s-ns.png" class="img-responsive">
                      <div class="iphone5-screen">        
                        <div class="carousel" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="{% static 'img/phone/1.png' %}" class="img-responsive">
                                </div>
                                <div class="item">
                                    <img src="{% static 'img/phone/2.png' %}" class="img-responsive">
                                </div>
                                <div class="item">
                                    <img src="{% static 'img/phone/3.png' %}" class="img-responsive">
                                </div>
                                <div class="item">
                                    <img src="{% static 'img/phone/4.png' %}" class="img-responsive">
                                </div>
                                <div class="item">
                                    <img src="{% static 'img/phone/5.png' %}" class="img-responsive">
                                </div>
                            </div>
                        </div>  
                      </div>
                  </div>

              </div>
              <div class="col-sm-8 col-xs-12">
                <div class="phone-text">    
                    <h2>Готовься и играй с друзьями одновременно!</h2>

                    <div class="download">
                      <div class="col-sm-6">
                        <p>
                          <a href="https://play.google.com/store/apps/details?id=com.ent.saken2316.entalapp&hl=ru" class="btn btn-download">
                            <i class="fa fa-android"></i> 
                            <span class="small">Скачать из</span> 
                            <span class="big">Play Market</span>
                          </a>
                        </p>
                      </div>
                      <div class="col-sm-6">
                        <p>
                          <a href="#" class="btn btn-download">
                            <i class="fa fa-apple"></i> 
                            <span class="small">Скачать из</span> 
                            <span class="big">App Store</span>
                          </a>
                        </p>
                      </div>
                    </div>

                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="section" data-anchor="secondPage">
        <div class="jumbotron jumbotron-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            Свяжись с нами <small>мы будем рады любому отзыву</small></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="well well-sm">
                        <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Имя</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                                        </span>
                                        <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email адрес</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input type="email" class="form-control" id="email" placeholder="Введите email" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">
                                        Тема</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-down"></span>
                                        </span>
                                        <select id="subject" name="subject" class="form-control" required="required">
                                            <option value="na" selected="">Выберите из списка:</option>
                                            <option value="service">Сотрудничество</option>
                                            <option value="suggestions">Пожелания</option>
                                            <option value="product">Техническая Поддержка</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Сообщение</label>
                                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                        placeholder="Сообщение"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                    Отправить отзыв</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <form>
                    <legend><span class="glyphicon glyphicon-globe"></span> Наш офис</legend>
                    <address>
                        <strong>IEIT KBTU, Inc.</strong><br>
                        улица Жамбыла 28, угол Шевченко - Валиханова<br>
                        Алматы, Казахстан<br>
                        <abbr title="Phone">
                            Тел:</abbr>
                        +7 (747) 960 2806
                    </address>
                    <address>
                        <strong>Сыдыков Сакен</strong><br>
                        <a href="mailto:#">saken2316@gmail.com</a>
                    </address>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>

  </body>
</html>